.title-text-input {
    font-size: 24px;
    height: 26px;
    border-radius: 20px;
    padding: 18px;
    border: 1px, black;
}

.content-text-input {
    font-size: 18px;
    height: 20px;
    border-radius: 20px;
    padding: 18px;
    border: 1px, black;
}