button.new-node-button {
    color: white;
    background-color: grey;
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
    border: none;
    width: 80px;
    height: 80px;

    cursor: pointer;
    margin: 10px;
}