button#zoom-out-button {
    position: absolute;
    z-index: 8;
    color: white;
    background-color: grey;
    text-decoration: none;
    border: none;
    width: 50px;
    height: 50px;
    padding: 17px 17px;
    right: 0px;
    top: 60px;

    cursor: pointer;
    margin: 70px 10px;
}