.logo {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #4D4D4D;
  background-color: #4D4D4D;
}

a {
  text-decoration: none;
  color: #4D4D4D;
}

.wrapper {
  text-align: center;
  padding: 10px;
}